body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.mainDiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: 100;
}

.dataSet{
    width: 90%;
}

.buttons{
    width: 100%;
    padding:30px 0;
    display: flex;
    justify-content: space-evenly;
}

.button{
    border: 0;
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 50px;
    font-size: 15px;
}

.map{
    background-color: coral;
}

.map:hover{
    background-color: white;
    color: coral;
    border:1px solid coral;
}

.filter{
    background-color: #6B5B95;
}

.filter:hover{
    background-color: white;
    color: #6B5B95;
    border:1px solid #6B5B95;
}

.sort{
    background-color: darkcyan;
}

.sort:hover{
    background-color: white;
    color: darkcyan;
    border:1px solid darkcyan;
}

.reduce{
    background-color: orchid;
}

.reduce:hover{
    background-color: white;
    color: orchid;
    border:1px solid orchid;
}

.find{
    background-color: crimson;
}

.find:hover{
    background-color: white;
    color: crimson;
    border:1px solid crimson;
}

.foreach{
    background-color: #555555;
}

.foreach:hover{
    background-color: white;
    color: #555555;
    border:1px solid #555555;
}

.some{
    background-color: #4CAF50;
}

.some:hover{
    background-color: white;
    color: #4CAF50;
    border:1px solid #4CAF50;
}

.every{
    background-color: #ff9800;
}

.every:hover{
    background-color: white;
    color: #ff9800;
    border:1px solid #ff9800;
}

.includes{
    background-color: #2196F3;
}

.includes:hover{
    background-color: white;
    color: #2196F3;
    border:1px solid #2196F3;
}

.arrayAnswer{
    width: 90%;
}